<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fhdw.mfwx413.flyingdutchmen.icls">

    <!--
    The permission handling only works for running Android 5.1 or lower and SDK 22 or lower
    Since Android 6.0 and SDK 23 the permission handling in Android changed.
    When running Android 6.0 or higher and SDK 23 or higher users grant permissions to apps while the app is running, not when they install the app
    So the statements in the manifest do not suffice anymore
    For more information see these links:
    http://developer.android.com/training/permissions/requesting.html
    http://developer.android.com/guide/topics/security/permissions.html#normal-dangerous
    #########################################
    This is app is set up for Android 5.1 or lower and SDK 22 or lower
    it does not support the permission handling for Android 6.0 or higher and SDK 23 or higher
    This is a feature that could be implemented in the future
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.StartMenu.Init">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddNewUser.Init" />
        <activity android:name=".activities.ChallengeFreeAnswer.Init" />
        <activity android:name=".activities.ChallengeMultipleChoice.Init" />
        <activity android:name=".activities.ChallengeImagineAnswer.Init" />
        <activity android:name=".activities.ChooseFile.Init" />
        <activity android:name=".activities.EditUser.Init" />
        <activity android:name=".activities.FeedbackChallengeRest.Init" />
        <activity android:name=".activities.FeedbackImagineAnswer.Init" />
        <activity android:name=".activities.FinalEndOfChallenges.Init" />
        <activity android:name=".activities.SettingsMenu.Init" />
        <activity android:name=".activities.Statistics.Init" />
        <activity android:name=".activities.FragLogout.Init" />
        <activity android:name=".activities.DuplicateIndexCards.Init" />
        <activity android:name=".activities.NoChallengesForCurrentIndexCard.Init" />
        <activity android:name=".activities.NoIndexCardsAvailable.Init" />
    </application>

</manifest>
